body {background-color: #000000;
      background-size: 100%;
      font-family: Arial, Halvetica, sans-serif;
      margin-top: 0;}

nav {background-color: #000000;
    color: #ffffff;
    font-family: Arial, Halvetica, sans-serif;}

nav a {text-decoration: none;
      color: #ffffff;}
nav a:hover{color: #9ab7d3;}
nav a:visited{color:#77a8d5;}

h1 {color: #ffffff;}
h2 {color: #ffffff;}
    
div	{margin: 5px;
     text-indent: 1em;
     margin-top:0;}		

footer {background-color: #691028;
        border: 5px solid #ffcd54;
        text-indent: 1em;}